.product-card {
    height: 450px;
    width: 300px;
}

.pro-sub {
    display: flex;
    justify-content: space-between;
}
.pro-img{
    height: 250px;
    width: 300px;
}
.pro-title{
font-size: 16px;
font-family: "Simplon Norm";
text-transform: uppercase;
font-style: Bold;
}
.pro-para{
    font-size: 10px;
}
.fav-logo{
    height: 20px;
    width: 20px;
    margin-top: 10px;
}