.intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.intro-head{
    font-family: "Simplon Norm";
    font-weight: 400;
    font-style: Regular;
    size: 60px;
    width: 700px;
    text-align: center;
}
.intro-para{
    width: 700px;
    text-align: center;
}